{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Learning buddy | Login
{% endblock %}
{% block header %}
  
  <link rel="stylesheet" href="{% static 'main/general_form.css' %}" />
{% endblock %}
{% block content %}

  <div class="relative flex flex-col justify-center h-screen overflow-hidden">

    <div class="w-full p-6 m-auto bg-white rounded-md shadow-md lg:max-w-xl">

      <form action="{% url 'accounts:login' %}" method="POST" class="card-body dark-text">

          <h1 class="text-3xl font-semibold text-center text-gray-700 self-center text-center flex-1">Login</h1>

        {% csrf_token %}

        {% for field in form %}
          <div class="form-control">

            <label for="{{ field.id_for_label }}" class="label"><span class="label-text">{{ field.name|title }}</span></label>

            {{ field }}
            <p>{{ field.help_text }}</p>
            {% if field.errors %}

              <div class="error-container">

                {% for error in field.errors %}

                  <p class="error">{{ error }}</p>

                {% endfor %}

              </div>

            {% endif %}

          </div>

        {% endfor %}

        <p class="text-black">
          don't have any account? <a href="{% url 'accounts:register' %}" class="text-blue-600 hover:text-blue-800 hover:underline">Sign up now.</a>
        </p>

        <div class="form-control mt-6">
          <button class="sm:btn-sm md:btn-md lg:btn-lg btn btn-primary text-light-600">Login</button>

        </div>

      </form>

    </div>

  </div>

{% endblock %}
