{% extends 'main/base.html' %} 
{% load static %}
{% block title %} Login {% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'main/general_form.css' %}">
<link rel="stylesheet" href="{% static 'accounts/login.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="form-container">
        <h3>Log-in</h3>
        <form action="{% url 'accounts:login' %}" method="POST">
            {% csrf_token %} 
            {% for field in form %}
            <p class="field-container">
                {{field.label_tag | cut:":"}}
                {{ field }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p class="error">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </p>
            {% endfor %}
            <p id="login-prompt">don't have any account? register <a href="{% url 'accounts:register' %}">here</a>.</p>
            <input type="submit" value="Login" class="form-btn" />
        </form>
    </div>
</div>
{% endblock %}
