asgiref==3.7.2
Django==5.0.1
django-appconf==1.0.6
django-compressor==4.4
lxml==5.1.0
mysqlclient==2.2.1
python-docx==1.1.0
python-dotenv==1.0.0
rcssmin==1.1.1
rjsmin==1.2.1
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2023.4
