<div class="flex flex-col md:flex-row md:items-center md:justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
    <div class="flex-1 flex items-center space-x-2">
        <h5>
            <span class="text-gray-500">All {{app_name}}:</span>
            <span class="dark:text-white">{{page_obj.paginator.count}}</span>
        </h5>
        <button type="button" class="group" data-tooltip-target="results-tooltip">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" viewbox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">More info</span>
        </button>
        <div id="results-tooltip" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Showing total of {{app_name}}
            <div class="tooltip-arrow" data-popper-arrow=""></div>
        </div>
    </div>
    
</div>